
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>7Chats| Chat App</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon/Logo.jpg" type="image/x-icon">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/template.bundle.css">
</head>
<!-- Body -->
<body class="bg-light">

    <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100 gx-0">

            <div class="col-12 col-md-5 col-lg-4">
                <div class="card card-shadow border-0">
                    <div class="card-body">
                        <div class="row g-6">
                            <div class="col-12">
                                <div class="text-center">
                                    <img src="~/assets/img/avatars/Logo.jpg">
                                    <h3 class="fw-bold mb-2">Complete Profile</h3>
                                    <p>Please enter your details here</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="surname" placeholder="Surname">
                                    <label for="signup-name">Surname</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="birth" placeholder="Date of Birth">
                                    <label for="signup-dateofbirth">Date of birth</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <select id="gender" name="gender" class="form-control">
                                        @*<option value="All">All</option>
                                        <option value="None">None</option>*@
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Transgender">Transgender</option>
                                        <option value="Gender neutral">Gender neutral</option>
                                        <option value="Non-binary">Non-binary</option>
                                        <option value="Agender">Agender</option>
                                        <option value="Pangender">Pangender</option>
                                        <option value="Genderqueer">Genderqueer</option>
                                        <option value="Two-spirit">Two-spirit</option>
                                        <option value="Third gender">Third gender</option>
                                    </select>
                                    <label for="signup-gender">Gender</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select id="showme" name="showme" class="form-control">
                                        @*<option value="All">All</option>
                                        <option value="None">None</option>*@
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Transgender">Transgender</option>
                                        <option value="Gender neutral">Gender neutral</option>
                                        <option value="Non-binary">Non-binary</option>
                                        <option value="Agender">Agender</option>
                                        <option value="Pangender">Pangender</option>
                                        <option value="Genderqueer">Genderqueer</option>
                                        <option value="Two-spirit">Two-spirit</option>
                                        <option value="Third gender">Third gender</option>
                                    </select>
                                    <label for="signup-showne">Show Me</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select id="province" name="Province" class="form-control">
                                        <option value="Afghanistan"> Afghanistan </option>
                                        <option value="Albania"> Albania </option>
                                        <option value="Algeria"> Algeria </option>
                                        <option value="Andorra"> Andorra </option>
                                        <option value="Angola"> Angola </option>
                                        <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                                        <option value="Argentina"> Argentina </option>
                                        <option value="Armenia"> Armenia </option>
                                        <option value="Australia"> Australia </option>
                                        <option value="Austria"> Austria </option>
                                        <option value="Azerbaijan"> Azerbaijan </option>
                                        <option value="Bahamas"> Bahamas </option>
                                        <option value="Bahrain"> Bahrain </option>
                                        <option value="Bangladesh"> Bangladesh </option>
                                        <option value="Barbados"> Barbados </option>
                                        <option value="Belarus"> Belarus </option>
                                        <option value="Belgium"> Belgium </option>
                                        <option value="Belize"> Belize </option>
                                        <option value="Benin"> Benin </option>
                                        <option value="Bhutan"> Bhutan </option>
                                        <option value="Bolivia"> Bolivia </option>
                                        <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                                        <option value="Botswana"> Botswana </option>
                                        <option value="Brazil"> Brazil </option>
                                        <option value="Brunei"> Brunei </option>
                                        <option value="Bulgaria"> Bulgaria </option>
                                        <option value="Burkina Faso"> Burkina Faso </option>
                                        <option value="Burundi"> Burundi </option>
                                        <option value="Côte d'Ivoire"> Côte d'Ivoire </option>
                                        <option value="Cabo Verde"> Cabo Verde </option>
                                        <option value="Cambodia"> Cambodia </option>
                                        <option value="Cameroon"> Cameroon </option>
                                        <option value="Canada"> Canada </option>
                                        <option value="Central African Republic"> Central African Republic </option>
                                        <option value="Chad"> Chad </option>
                                        <option value="Chile"> Chile </option>
                                        <option value="China"> China </option>
                                        <option value="Colombia"> Colombia </option>
                                        <option value="Comoros"> Comoros </option>
                                        <option value="Congo (Congo-Brazzaville)"> Congo (Congo-Brazzaville) </option>
                                        <option value="Costa Rica"> Costa Rica </option>
                                        <option value="Croatia"> Croatia </option>
                                        <option value="Cuba"> Cuba </option>
                                        <option value="Cyprus"> Cyprus </option>
                                        <option value="Czechia (Czech Republic)"> Czechia (Czech Republic) </option>
                                        <option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </option>
                                        <option value="Denmark"> Denmark </option>
                                        <option value="Djibouti"> Djibouti </option>
                                        <option value="Dominica"> Dominica </option>
                                        <option value="Dominican Republic"> Dominican Republic </option>
                                        <option value="Ecuador"> Ecuador </option>
                                        <option value="Egypt"> Egypt </option>
                                        <option value="El Salvador"> El Salvador </option>
                                        <option value="Equatorial Guinea"> Equatorial Guinea </option>
                                        <option value="Eritrea"> Eritrea </option>
                                        <option value="Estonia"> Estonia </option>
                                        <option value="Eswatini "> Eswatini </option>
                                        <option value="Ethiopia"> Ethiopia </option>
                                        <option value="Fiji"> Fiji </option>
                                        <option value="Finland"> Finland </option>
                                        <option value="France"> France </option>
                                        <option value="Gabon"> Gabon </option>
                                        <option value="Gambia"> Gambia </option>
                                        <option value="Georgia"> Georgia </option>
                                        <option value="Germany"> Germany </option>
                                        <option value="Ghana"> Ghana </option>
                                        <option value="Greece"> Greece </option>
                                        <option value="Grenada"> Grenada </option>
                                        <option value="Guatemala"> Guatemala </option>
                                        <option value="Guinea"> Guinea </option>
                                        <option value="Guinea-Bissau"> Guinea-Bissau </option>
                                        <option value="Guyana"> Guyana </option>
                                        <option value="Haiti"> Haiti </option>
                                        <option value="Holy See"> Holy See </option>
                                        <option value="Honduras"> Honduras </option>
                                        <option value="Hungary"> Hungary </option>
                                        <option value="Iceland"> Iceland </option>
                                        <option value="India"> India </option>
                                        <option value="Indonesia"> Indonesia </option>
                                        <option value="Iran"> Iran </option>
                                        <option value="Iraq"> Iraq </option>
                                        <option value="Ireland"> Ireland </option>
                                        <option value="Israel"> Israel </option>
                                        <option value="Italy"> Italy </option>
                                        <option value="Jamaica"> Jamaica </option>
                                        <option value="Japan"> Japan </option>
                                        <option value="Jordan"> Jordan </option>
                                        <option value="Kazakhstan"> Kazakhstan </option>
                                        <option value="Kenya"> Kenya </option>
                                        <option value="Kiribati"> Kiribati </option>
                                        <option value="Kuwait"> Kuwait </option>
                                        <option value="Kyrgyzstan"> Kyrgyzstan </option>
                                        <option value="Laos"> Laos </option>
                                        <option value="Latvia"> Latvia </option>
                                        <option value="Lebanon"> Lebanon </option>
                                        <option value="Lesotho"> Lesotho </option>
                                        <option value="Liberia"> Liberia </option>
                                        <option value="Libya"> Libya </option>
                                        <option value="Liechtenstein"> Liechtenstein </option>
                                        <option value="Lithuania"> Lithuania </option>
                                        <option value="Luxembourg"> Luxembourg </option>
                                        <option value="Madagascar"> Madagascar </option>
                                        <option value="Malawi"> Malawi </option>
                                        <option value="Malaysia"> Malaysia </option>
                                        <option value="Maldives"> Maldives </option>
                                        <option value="Mali"> Mali </option>
                                        <option value="Malta"> Malta </option>
                                        <option value="Marshall Islands"> Marshall Islands </option>
                                        <option value="Mauritania"> Mauritania </option>
                                        <option value="Mauritius"> Mauritius </option>
                                        <option value="Mexico"> Mexico </option>
                                        <option value="Micronesia"> Micronesia </option>
                                        <option value="Moldova"> Moldova </option>
                                        <option value="Monaco"> Monaco </option>
                                        <option value="Mongolia"> Mongolia </option>
                                        <option value="Montenegro"> Montenegro </option>
                                        <option value="Morocco"> Morocco </option>
                                        <option value="Mozambique"> Mozambique </option>
                                        <option value="Myanmar (formerly Burma)"> Myanmar (formerly Burma) </option>
                                        <option value="Namibia"> Namibia </option>
                                        <option value="Nauru"> Nauru </option>
                                        <option value="Nepal"> Nepal </option>
                                        <option value="Netherlands"> Netherlands </option>
                                        <option value="New Zealand"> New Zealand </option>
                                        <option value="Nicaragua"> Nicaragua </option>
                                        <option value="Niger"> Niger </option>
                                        <option value="Nigeria"> Nigeria </option>
                                        <option value="North Korea"> North Korea </option>
                                        <option value="North Macedonia"> North Macedonia </option>
                                        <option value="Norway"> Norway </option>
                                        <option value="Oman"> Oman </option>
                                        <option value="Pakistan"> Pakistan </option>
                                        <option value="Palau"> Palau </option>
                                        <option value="Palestine State"> Palestine State </option>
                                        <option value="Panama"> Panama </option>
                                        <option value="Papua New Guinea"> Papua New Guinea </option>
                                        <option value="Paraguay"> Paraguay </option>
                                        <option value="Peru"> Peru </option>
                                        <option value="Philippines"> Philippines </option>
                                        <option value="Poland"> Poland </option>
                                        <option value="Portugal"> Portugal </option>
                                        <option value="Qatar"> Qatar </option>
                                        <option value="Romania"> Romania </option>
                                        <option value="Russia"> Russia </option>
                                        <option value="Rwanda"> Rwanda </option>
                                        <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                                        <option value="Saint Lucia"> Saint Lucia </option>
                                        <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines </option>
                                        <option value="Samoa"> Samoa </option>
                                        <option value="San Marino"> San Marino </option>
                                        <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                                        <option value="Saudi Arabia"> Saudi Arabia </option>
                                        <option value="Senegal"> Senegal </option>
                                        <option value="Serbia"> Serbia </option>
                                        <option value="Seychelles"> Seychelles </option>
                                        <option value="Sierra Leone"> Sierra Leone </option>
                                        <option value="Singapore"> Singapore </option>
                                        <option value="Slovakia"> Slovakia </option>
                                        <option value="Slovenia"> Slovenia </option>
                                        <option value="Solomon Islands"> Solomon Islands </option>
                                        <option value="Somalia"> Somalia </option>
                                        <option value="South Africa"> South Africa </option>
                                        <option value="South Korea"> South Korea </option>
                                        <option value="South Sudan"> South Sudan </option>
                                        <option value="Spain"> Spain </option>
                                        <option value="Sri Lanka"> Sri Lanka </option>
                                        <option value="Sudan"> Sudan </option>
                                        <option value="Suriname"> Suriname </option>
                                        <option value="Sweden"> Sweden </option>
                                        <option value="Switzerland"> Switzerland </option>
                                        <option value="Syria"> Syria </option>
                                        <option value="Tajikistan"> Tajikistan </option>
                                        <option value="Tanzania"> Tanzania </option>
                                        <option value="Thailand"> Thailand </option>
                                        <option value="Timor-Leste"> Timor-Leste </option>
                                        <option value="Togo"> Togo </option>
                                        <option value="Tonga"> Tonga </option>
                                        <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                                        <option value="Tunisia"> Tunisia </option>
                                        <option value="Turkey"> Turkey </option>
                                        <option value="Turkmenistan"> Turkmenistan </option>
                                        <option value="Tuvalu"> Tuvalu </option>
                                        <option value="Uganda"> Uganda </option>
                                        <option value="Ukraine"> Ukraine </option>
                                        <option value="United Arab Emirates"> United Arab Emirates </option>
                                        <option value="United Kingdom"> United Kingdom </option>
                                        <option value="United States of America"> United States of America </option>
                                        <option value="Uruguay"> Uruguay </option>
                                        <option value="Uzbekistan"> Uzbekistan </option>
                                        <option value="Vanuatu"> Vanuatu </option>
                                        <option value="Venezuela"> Venezuela </option>
                                        <option value="Vietnam"> Vietnam </option>
                                        <option value="Yemen"> Yemen </option>
                                        <option value="Zambia"> Zambia </option>
                                        <option value="Zimbabwe"> Zimbabwe </option>

                                    </select>
                                    <label for="signup-province">Country</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" placeholder="City">
                                    <label for="signup-dateofbirth">City</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-block btn-lg btn-primary w-100" type="button" id="upload">submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Text -->
                @*<div class="text-center mt-8">
                        <p>Already have an account? <a href="@Url.Action("Index", "Home")">Sign in</a></p>
                    </div>*@

            </div>
        </div> <!-- / End of .row -->
    </div>

    <script src="~/assets/js/vendor.js"></script>
    <script src="~/assets/js/template.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>
<script>
  
    $("#upload").click(function ()
    {
        var AccountDetail = new Object();
        AccountDetail.Birthday = $('#birth').val();
        AccountDetail.LastName = $('#surname').val();
        AccountDetail.Gender = $('#gender').val();
        AccountDetail.showme = $('#showme').val();
        AccountDetail.Province = $('#province').val();
        AccountDetail.City = $('#city').val();



        if (AccountDetail.LastName == "") {
            toastr.warning("Please enter surname");
            return false;
        }
        if (AccountDetail.Birthday == "") {
            toastr.warning("Please enter birthday");
            return false;
        }

        if (AccountDetail.City == "") {
            toastr.warning("Please enter town");
            return false;
        }

        if (AccountDetail != null)
        {
                    toastr.info("Saving.........");
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("Complete", "Home"))",
                        data: JSON.stringify(AccountDetail),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response)
                        {
                            if (response == "successful")
                            {
                                toastr.clear();
                                toastr.success("successfully");
                                window.location.href = "@(Url.Action("UploadImages", "Home"))";
                            }
                            else
                            {
                                toastr.clear();
                                toastr.warning(response);
                            }
                        },
                        failure: function (response)
                        {
                            toastr.clear();
                            toastr.warning(response.responseText);
                        },
                        error: function (response) {
                            toastr.clear();
                            toastr.warning(response.responseText);
                        }
                    });
                }
            });
</script>